#splash-screen{
    background-color: @smoothWhite;
    display: flex;
    justify-content: space-between;

    #intro{
        h2{
            font-size: 5rem;
        }

        p{
            margin: @itemsVerticalSpacing 0 calc(@itemsVerticalSpacing * 2);
        }
    }
}
